spring:
  application:
    name: musinsa_test
  datasource:
    url: jdbc:h2:mem:testdb
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace